table			{ border-collapse:collapse; }
td				{ border:1px solid black; width:35px; height:35px; }
.whole			{	text-align: center;	position:fixed;	margin:0 auto;	left:0;	right:0;  width: 40%;	margin-top : 10%;	box-sizing : border-box;	}
